body {
    text-align: center;
    background-color: black;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 3px rgba(206,89,55,0);
    font-family: DS-Digital, monospace;
    margin-top: 200px;
}

#time {
    margin: 100px;
    font-size: 100px;
    color: green;
}

